<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>LMS</title>
  <meta content="" name="description">

  <meta content="LMS " name="keywords">

  <!-- Favicons -->
  <link href="https://img.icons8.com/external-kmg-design-flat-kmg-design/32/000000/external-library-literature-kmg-design-flat-kmg-design.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <!-- Extra Style Files -->
  {% block extraStyle %}
  {% endblock %}


  <!-- =======================================================
  * Template Name: FlexStart - v1.9.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="hero">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="https://img.icons8.com/external-kmg-design-flat-kmg-design/64/000000/external-library-literature-kmg-design-flat-kmg-design.png"/>
       
       <span>Library Management System</span>
      </a>


      <nav id="navbar" class="navbar">
        <ul id="h-items-active">
          <li><a class="nav-link scrollto {% if active_members %} active {% endif %}" href= {{ url_for( 'members' ) }}>
            <img src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/48/000000/external-staff-members-for-the-hotel-room-service-hotel-color-tal-revivo.png"/>
            Members</a>
          </li>

          <li><a class="nav-link scrollto {% if active_transactions %} active {% endif %}" href={{ url_for( 'transactions' ) }}>
            <img src="https://img.icons8.com/cotton/48/000000/transaction-approved.png"/>
            Transaction History</a></li>
          
            <li><a class="nav-link scrollto {% if active_analytics %} active {% endif %}" href={{ url_for( 'analytics' ) }}>
              <img src="https://img.icons8.com/external-flatarticons-blue-flatarticons/65/000000/external-analytics-digital-marketing-flatarticons-blue-flatarticons.png"/>
              Analytics</a></li>
            
              <li><a class="nav-link scrollto {% if active_addBooks %} active {% endif %}" href={{ url_for( 'addBooks' ) }}>
                <img src="https://img.icons8.com/external-flatarticons-blue-flatarticons/65/000000/external-books-online-learning-flatarticons-blue-flatarticons.png"/>
                Add Books</a></li>
              
                <li><a class="nav-link scrollto {% if active_return_book %} active {% endif %}" href={{ url_for( 'return_book' ) }}>
                  <img src="https://img.icons8.com/ultraviolet/40/000000/return-book.png"/>
                  Return Books</a></li>


            

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

<!-- ============ Template Section -->

<div class="main-content">
  {% block content %}  
{% endblock %}
</div>
  


<!-- ============= Footer Section -->
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/purecounter/purecounter.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>

  <!-- Extra Script Files -->
  {% block extraScript %}
  {% endblock %}

</body>

</html>